* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: minmax(300px, 1200px);
  justify-content: center;

  height: 100vh;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 375px);
  gap: 15px;
  justify-content: center;
  justify-items: center;

  padding: 2rem 0;
  margin-bottom: 2rem;

  list-style-type: none;
}

.card {
  width: 100%;
  justify-self: center;

  border: 1px solid #252525;
  border-radius: 8px;

  height: fit-content;

  cursor: pointer;
  transition: all 300ms;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card--text {
  margin: 0.2rem;
  padding-left: 2rem;
  padding-top: 1rem;

  border-radius: 5px;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  list-style-type: none;
}

.card--text li + li {
  margin-top: 7.5px;
}

.card--img {
  display: block;
  margin: 0 auto;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.games {
  display:grid;
  grid-template-columns: 120px 1fr 1fr;
  padding: 1rem;

  list-style-type: none;
}

.game {
  padding: 0.5rem;
  margin: 0.1rem;

  border: 1px solid #252525;
  border-radius: 8px;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}